--- 
layout: default 
title: Home 
---

<div class="jumbotron jumbotron-fluid bg-inverse text-white">
	<div class="container">
		<img src="/media/logo-inverse.png" alt="{{site.data.config.name}}" class="img-fluid" />
		<div class="row">
			<div class="col-sm-6 px-2 mt-2">
				<div class="row">
					<div class="col-xs-1">
						<h4>
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</h4>
					</div>
					<div class="col-xs-11">
						<h4>
							{{site.data.config.date}}
						</h4>
						<h5>
							{{site.data.config.time}}
						</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-6 px-2 mt-2">
				<div class="row">
					<div class="col-xs-1">
						<h4>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</h4>
					</div>
					<div class="col-xs-11">
						<h4>
							{{site.data.config.location.facility}}
						</h4>
						<h5>
							{{site.data.config.location.city}}
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<main class="container">

	<article id="about" class="my-3">
		<blockquote class="blockquote">
			<p class="mb-0">
				{{site.data.config.about}}
			</p>
		</blockquote>
	</article>

	<article id="registration" class="my-3">
		<tito-widget event="azure-community/camp-azure-rva-fall16"></tito-widget>
	</article>

	<article id="sponsors" class="my-3">
		<h1 class="display-4">Sponsors</h1>
		{% include sponsors.html %}
	</article>

	<article id="directions" class="my-3">
		<h1 class="display-4">Directions</h1>
		{% include directions.html %}
	</article>

</main>

<footer>
	{% include footer.html %}
</footer>