--- 
layout: page 
title: Speakers 
---

<!--
<div class="card-columns mt-2">
    {% for speaker in site.data.speakers %}
        {% include speaker.html param=speaker variable-param=page.speaker %}
    {% endfor %}
</div>
-->
<div class="alert alert-info my-3" role="alert">
    <h4 class="alert-heading">Call for Speakers is open!</h4>
    <p>Interested in speaking at Camp Azure? We are looking for talks on cross-platform and OSS software in Azure.</p>
    <p>
        <a href="https://www.papercall.io/camp-azure-rva-2016" class="alert-link">Submit your talk today.</a>
    </p>
</div>
<p class="lead">
    Speakers List Coming Soon
</p>
