{% if site.data.config.directions != nil %}
    {% if site.data.config.directions.embed != nil %}
        <div class="embed-responsive embed-responsive-16by9">
            {{site.data.config.directions.embed}}
        </div>
    {% endif %}
    <figure class="figure">
        {% if site.data.config.directions.link != nil %}
            <figcaption class="figure-caption">
                <a href="{{site.data.config.directions.link}}" target="_blank" class="btn btn-link">                    
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Get Directions
                </a>
            </figcaption>
        {% endif %}
    </figure>
{% endif %}