<div class="jumbotron jumbotron-fluid mb-0 py-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-xs-center text-sm-left">
                <h6 class="mt-1">{{site.data.config.name}}</h6>
                <em>{{site.data.config.date}}</em>
                {% if site.data.config.location.facility != nil %}
                    <br /><strong>{{site.data.config.location.facility}}</strong>
                {% endif %}
                {% if site.data.config.location.street != nil %}
                    <br />{{site.data.config.location.street}}
                {% endif %}
                {% if site.data.config.location.street2 != nil %}
                    <br />{{site.data.config.location.street2}}
                {% endif %}
                {% if site.data.config.location.city != nil %}
                    <br />{{site.data.config.location.city}}
                {% endif %}
			</div>
			<div class="col-sm-4 text-xs-center">
                {% if site.data.config.social != nil %}
                    <h6 class="mt-1">Social Media</h6>
                    <ul class="list-group">                    
                        {% for item in site.data.config.social %}
                            <li class="list-group-item">                                
                                <a href="{{item.link}}" target="_blank">                    
                                    <i class="fa fa-{{item.network}}-square" aria-hidden="true"></i>
                                    <span class="text-capitalize">
                                        {{item.network}}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <h6 class="mt-1">In Collaboration With:</h6>
                <img src="/media/revolutionva_alt.png" alt="Revolution VA" class="img-fluid mb-1" />      
			</div>
			<div class="col-sm-4 text-xs-center text-sm-right">
                <h6 class="mt-1">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    Fork on GitHub
                </h6>   
                <a href="http://github.com/campazure/campazure.github.io" target="_blank">
                    http://github.com/campazure
                </a>
			</div>
		</div>
	</div>
</div>