<link rel="image_src" href="/media/share-facebook.png" / >
<title>Camp Azure - RVA 2016</title>
<meta name="description" content="Camp Azure is a FREE event that allows local professionals to network with their peers and learn from community experts about the latest innovations in OSS and cross-platform Azure solutions." />
<meta property="og:title" content="Camp Azure - RVA 2016" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://campazure.com/media/share-facebook.png" />
<meta property="og:url" content="http://campazure.com" />
<meta property="og:description" content="Camp Azure is a FREE event that allows local professionals to network with their peers and learn from community experts about the latest innovations in OSS and cross-platform Azure solutions." />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Camp Azure - RVA 2016" />
<meta name="twitter:site" content="@azurebootcamps">
<meta name="twitter:creator" content="@sidney_andrews">
<meta name="twitter:description" content="Camp Azure is a FREE event that allows local professionals to network with their peers and learn from community experts about the latest innovations in OSS and cross-platform Azure solutions." />
<meta name="twitter:image" content="http://campazure.com/media/share-facebook.png" />