<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#39A8DF">
<meta name="theme-color" content="#39a8df">
<link rel="image_src" href="/media/share-facebook.png" / >
<title>Camp Azure - RVA 2016</title>
<meta name="description" content="Camp Azure is a FREE event that allows local professionals to network with their peers and learn from community experts about the latest innovations in OSS and cross-platform Azure solutions." />
<meta property="og:title" content="Camp Azure - RVA 2016" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://campazure.com/media/share-facebook.png" />
<meta property="og:url" content="http://campazure.com" />
<meta property="og:description" content="Camp Azure is a FREE event that allows local professionals to network with their peers and learn from community experts about the latest innovations in OSS and cross-platform Azure solutions." />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Camp Azure - RVA 2016" />
<meta name="twitter:site" content="@azurebootcamps">
<meta name="twitter:creator" content="@sidney_andrews">
<meta name="twitter:description" content="Camp Azure is a FREE event that allows local professionals to network with their peers and learn from community experts about the latest innovations in OSS and cross-platform Azure solutions." />
<meta name="twitter:image" content="http://campazure.com/media/share-facebook.png" />