<nav class="navbar navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="#">
			<i class="fa fa-code" aria-hidden="true"></i>
			&nbsp;
			{{site.data.config.name}}
		</a>
		<ul class="nav navbar-nav">
			{% for link in site.data.navigation %}
				{% assign active = nil %}
				{% if page.url == link.url %}
					{% assign active = 'active' %}
				{% endif %}
				<li class="nav-item {{active}}">
					<a class="nav-link" href="{{link.url}}">{{link.text}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>