{% for speaker in site.data.speakers %}
    {% if speaker.id == session.speaker %}
            <div class="card">
                <img src="{{speaker.avatar}}" alt="{{speaker.name}}" class="card-img-top img-fluid">
                <div class="card-block">
                    <strong>
                        Presenter:&nbsp;
                    </strong>
                    <a href="/speakers#{{speaker.id}}" title="{{speaker.name}}" class="btn btn-secondary btn-sm">
                        {{speaker.name}}
                        {% if speaker.company != nil %}
                            [{{speaker.company}}]
                        {% endif %} 
                    </a>
                </div>
            </div>
    {% endif %}
{% endfor %}
<div class="card">
    <div class="card-block">
        <h4 id="{{session.id}}" class="card-title">
            {{session.title}}
        </h4>
        <p class="card-text">
            {{session.description}} 
        </p>
    </div>
</div>
