<div class="card" id="{{speaker.id}}">
    {% if speaker.avatar != nil %}
        <img class="card-img-top img-fluid" src="{{speaker.avatar}}" alt="{{speaker.name}}">
    {% endif %}
    <div class="card-block">
        <h4 class="card-title">
            {{speaker.name}}      
        </h4>  
        {% if speaker.company != nil %}
            <h6 class="card-subtitle text-muted mb-1">
                {% if speaker.company_url != nil %}
                    <a href="{{speaker.company_url}}" target="_blank">{{speaker.company}}</a>
                {% else %}
                    {{speaker.company}}
                {% endif %}  
            </h6>   
        {% endif %}   
        {% if speaker.bio != nil %}
            <p class="card-text">
                {{speaker.bio}}
            </p>
        {% endif %}
    </div>
    {% if speaker.website != nil %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <small>
                    <a href="{{speaker.website}}" target="_blank">
                        {{speaker.website}}
                    </a>    
                </small>
            </li>
        </ul>
    {% endif %}
    {% if speaker.twitter != nil %}
        <div class="card-footer text-muted">
            <a href="http://www.twitter.com/{{speaker.twitter}}" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                {{speaker.twitter}}
            </a>
        </div>
    {% endif %}
</div>
